name: deploy_documentation

on:
  workflow_call:
    inputs:
      artifact:
        description: Workflow artifact where HTML documentation is available
        type: string
        required: true
      page_url:
        type: string
        required: true
      ci_image:
          type: string
          required: false
          default: ubuntu-22.04

jobs:
  deploy:
    runs-on: ${{ inputs.ci_image }}
    permissions:
      pages: write      # deploy to Pages
      id-token: write   # verify deployment originates from appropriate source
    environment:
      name: github-pages
      url: ${{ inputs.page_url }} # FIXME previous ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: ${{ inputs.artifact }}