# Workflow will:
# - test docker image;
# - build docker image with targets define in docker-bake.hcl;
# - push image to a Docker Hub and repository description;
# - push image to Github Releases, create Tag and Release.

name: build_publish_image

on:
  workflow_call:
    secrets:
      docker_username:
        required: false
        description: Docker Hub username
      docker_token:
        required: false
        description: Docker Hub token
    inputs:
      image_name:
        type: string
        required: true
        description: Name of image to build
      test_image:
        type: boolean
        required: false
        default: true
        description: Whether to run image test suite
      ci_image:
        type: string
        required: false
        default: ubuntu-22.04
        description: Github type of machine to run the workflow on
      publish:
        type: boolean
        required: false
        default: true
        description: Whether to allow image publish
      working_dir:
        type: string
        required: false
        default: "."
        description: Defines common working directory for the workflow

jobs:
  docker:
    name: Build + Publish Docker Image
    runs-on: ${{ inputs.ci_image }}
    defaults:
      run:
        working-directory: ${{ inputs.working_dir }}
    env:
      PUBLISH: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) && inputs.publish && github.event.workflow_run.conclusion == 'success' && github.event_name != 'pull_request' }}
    permissions:
      contents: write
      packages: write
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}   # checkout correct branch name
        fetch-depth: 0                # fetch whole repo history

    - name: Extract Application Version
      id: version
      uses: codacy/git-version@2.8.0
      with:
        release-branch: ${{ github.event.repository.default_branch }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        version: latest

    - name: Set variables
      if: success()
      id: prepare
      shell: bash
      run: |
        echo image="${IMAGE@L}" >> "$GITHUB_OUTPUT"
        echo version="${TAG%%-*}" >> "$GITHUB_OUTPUT"
      env:
        IMAGE: ${{ inputs.image_name }}
        TAG: ${{ steps.version.outputs.version }}

    - name: Extract metadata for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ steps.prepare.outputs.image }}
          ghcr.io/${{ steps.prepare.outputs.image }}
        tags: |
          type=raw,value=latest
          type=raw,value=${{ steps.prepare.outputs.version }}

    - name: Test
      if: ${{ inputs.test_image == 'true' }}
      uses: docker/bake-action@v5
      with:
        workdir: ${{ inputs.working_dir }}
        push: false
        targets: test
        files: |
          ./docker-bake.hcl
          ${{ steps.meta.outputs.bake-file }}
      env:
        TAG: ${{ steps.prepare.outputs.version }}

    - name: Login to Docker Hub registry
      if: ${{ env.PUBLISH == 'true' }}
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.docker_username }}
        password: ${{ secrets.docker_token }}

    - name: Login to Github Container registry
      if: ${{ env.PUBLISH == 'true' }}
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}

    - name: Build and Push
      uses: docker/bake-action@v5
      with:
        workdir: ${{ inputs.working_dir }}
        targets: image-all
        push: ${{ env.PUBLISH }}
        files: |
          ./docker-bake.hcl
          ${{ steps.meta.outputs.bake-file }}
      env:
        TAG: ${{ steps.prepare.outputs.version }}

    - name: Update Docker Hub description
      if: ${{ env.PUBLISH == 'true' }}
      uses: peter-evans/dockerhub-description@v4
      with:
        username: ${{ secrets.docker_username }}
        password: ${{ secrets.docker_token }}
        repository: ${{ steps.prepare.outputs.image }}
        enable-url-completion: true
        short-description: ${{ github.event.repository.description }}

    - name: Push Tag
      if: ${{ env.PUBLISH == 'true' }}
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git tag "$TAG"
        git push origin "$TAG"
      env:
        TAG: ${{ steps.prepare.outputs.version }}
        GITHUB_TOKEN: ${{ secrets.github_token }}

    - name: Create Release
      if: ${{ env.PUBLISH == 'true' }}
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.prepare.outputs.version }}
        token: ${{ secrets.github_token }}
        makeLatest: true
        generateReleaseNotes: true
